Plugins>BioVoxxel, "Adaptive Filter", de.biovoxxel.toolbox.Adaptive_Filter
Plugins>BioVoxxel, "Binary Feature Extractor", de.biovoxxel.toolbox.Binary_Feature_Extractor
Plugins>BioVoxxel, "Convoluted Background Subtraction", de.biovoxxel.toolbox.Convoluted_Background_Subtraction
Plugins>BioVoxxel, "Particle Distribution (2D)", de.biovoxxel.toolbox.Particle_Distribution2D
Plugins>BioVoxxel, "EDM Binary Operations", de.biovoxxel.toolbox.EDM_Binary_Operations
Plugins>BioVoxxel, "Enhance True Color Contrast", de.biovoxxel.toolbox.Enhance_True_Color_Contrast
Plugins>BioVoxxel, "Extended Particle Analyzer", de.biovoxxel.toolbox.Extended_Particle_Analyzer
Plugins>BioVoxxel, "Filter Check", de.biovoxxel.toolbox.Filter_Check
Plugins>BioVoxxel, "Gaussian Weighted Median", de.biovoxxel.toolbox.Gaussian_Weighted_Median
Plugins>BioVoxxel, "Interactive Correlation Plot", de.biovoxxel.toolbox.Interactive_Correlation_Plot
Plugins>BioVoxxel, "Limited Mean", de.biovoxxel.toolbox.Limited_Mean
Plugins>BioVoxxel, "Pseudo flat field correction", de.biovoxxel.toolbox.Pseudo_flat_field_correction
Plugins>BioVoxxel, "Speckle Inspector", de.biovoxxel.toolbox.Speckle_Inspector
Plugins>BioVoxxel, "Watershed Irregular Features", de.biovoxxel.toolbox.Watershed_Irregular_Features
Plugins>BioVoxxel, "SSIDC Cluster Indicator", de.biovoxxel.toolbox.SSIDC_
Plugins>BioVoxxel>deprecated, "Cluster Indicator", de.biovoxxel.toolbox.Cluster_Indicator